body
{
    background-color: black;
    color: white;
}

.countme
{
    padding: 10px;
    text-align: center;
}

.countme img
{
    margin: 20px;
}

.form-actions {
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px dotted #FFB240;
  background-color: #000000;
}

.navbar p {
  color: #CCCCCC;
  font-size: 12px;
  text-align: center;
}
