<div class="row-fluid">
  <div class="offset2 span8">
    <div class="countme">
      <p class="lead">Obrigado por participar da votação.</p>
      <p><a href="/<%= params[:event_name] %>/report/vendor">Clique aqui para ver os resultados desta pesquisa.</a></p>
      <br />
      <p><span id="send-status" class="label label-info">Obtaining device info</span></p>
    </div>
  </div>
</div>
