<div class="row-fluid">
  <div class="offset2 span8">
    <div class="countme">
      <p class="lead">Obrigado ...</p>
      <p><span id="send-status" class="label label-info">Obtaining device info</span></p>
    </div>
  </div>
</div>
