<div class="row-fluid">
  <div class="offset2 span8">
    <div class="well">
      <div class="alert alert-success pull-text-center">
        <strong>Obrigado por participar da votação.</strong>
        <p></p>
        <p><span id="send-status" class="label label-info">Obtaining device info</span></p>
        <a class="btn btn-success" href="/<%= params[:event_name] %>/report/vendor">Resultados da Pesquisa</a>
      </div>
    </div>
  </div>
</div>
