<div class="countme">
    <p>
        <img src="http://www.cwi.com.br/Content/Site/img/logo_cwisoftware.png" class="logo" />
    </p>
    <p class="lead">Obrigado ...</p>
    <p>
        <span id="send-status" class="label label-info">Obtaining device info</span>
    </p>
</div>