<div class="row-fluid">
  <div class="offset2 span8">
    <form method="post" class="form-horizontal well">
      <input class="input-block-level" id="appendedInputButton" name="event_name" type="text">
      <div class="form-actions">
        <button class="pull-right btn btn-success" type="submit">GO!</button>
      </div>
    </form>
  </div>
</div>
