<div class="jumbotron">
  <h1>Mobile Stats</h1>
  <form method="post">
    <div class="input-append">
      <input class="input-xlarge" id="appendedInputButton" name="event_name" type="text">
      <button class="btn" type="submit">Go!</button>
    </div>
  </form>
</div>
