<div class="row-fluid">
  <div class="offset2 span8">
  </div>
</div>
<div class="row-fluid">
  <div class="offset2 span8">
  </div>
</div>
<div class="row-fluid">
  <div class="offset5 span2">
    <img src="https://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=http://domain.com/stat-identifier">
  </div>
</div>
